{% extends '@App/layout/structure.html.twig' %}

{% block main %}
    <header id="header"></header>
    <aside id="sidebar"></aside>
    <main id="main">
        {% block content %}{% endblock %}
    </main>
    <footer id="footer"></footer>
{% endblock %}